/* Webfont: SrbijaSans-Regular */
@font-face {
    font-family: 'SrbijaSans';
    src: url('Srbija Sans.woff2') format('woff2'), /* Modern Browsers */
         url('Srbija Sans.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

